<!-- 添加搜索 -->
<app-search #ordersearch (getdata)="serchchange($event)" [item]="false" [type]="type"></app-search>

<app-table
  [tabledata]="tabledata"
  [total]="total"
  [tabletitle]="tabletitle"
  (editclick)="edit($event)"
  (additemclick)="additem($event)"
  [post]="delpost"
  [contex]="contex"
  (getdata)="pagechange($event)"
  #ordertable
></app-table>


<!-- 编辑弹框 -->
<app-drawer-from
  (parent)="gettabledata()"
  [formdata]="editfromdata"
  [post]="addpost"
  [title]="editfromtitle"
  #drawereditfrom
></app-drawer-from>

<!-- 添加新项目 -->
<app-drawer-from
  (parent)="gettabledata()"
  [formdata]="addfromdata"
  [post]="addpost"
  [title]="addfromtitle"
  #draweraddfrom
></app-drawer-from>
